<div>
    PeerJS Demo
</div>

<br>

<div>
    <a (click)="setPeer('moocow-a')">PEER A (moocow-a)</a> | <a (click)="setPeer('moocow-b')">PEER B (moocow-b)</a>
</div>

<div>
    Peer: {{ peer?.id || 'none' }}
</div>

<br>

<div *ngIf="otherID && !conn">
    <a (click)="connect()">Connect</a>
</div>
<div *ngIf="otherID && conn">
    <a (click)="disconnect()">Disconnect</a>
</div>

<br>

<div *ngIf="conn">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input formControlName="send"><button type="submit">Send</button>
    </form>

    <br>

    <div>
        <button (click)="call()">Call</button>
    </div>
</div>

<div *ngFor="let data of datas">
    {{ data.peerID }} {{ data.timestamp | date:'short' }}: {{ data.value }}
</div>

<br>

<div>
    You:
</div>
<div class="video-container">
    <video #myVideo playsinline [ngClass]="{'hide-video': !handledRequiredInteraction}">
    </video>
</div>

<div>
    Them:
</div>
<div class="video-container">
    <video #theirVideo playsinline [ngClass]="{'hide-video': !handledRequiredInteraction}">
    </video>
</div>

<div *ngIf="!handledRequiredInteraction" class="click-overlay" (click)="handleRequiredInteraction()">
    Click here to start
</div>
