<div *ngIf="user">
    Auth: {{ user.uid }} {{ user?.isAnonymous ? 'Anonymous' : (user?.email || 'no email') }} <a (click)="signOut()">Sign Out</a>
</div>

<div *ngIf="!user">
    Auth: none
</div>

<br>

<div>
    <a routerLink="">Home</a> | <a routerLink="admin">Admin</a> | <a routerLink="machine">Machine</a>
</div>

<br>

<ng-container *ngIf="!initalized">
    initalizing...
</ng-container>

<div *ngIf="!prompted">
    <a (click)="prompted = true">Click here to continue</a>
</div>

<ng-container *ngIf="initalized && prompted">
    <router-outlet></router-outlet>
</ng-container>
