<div>
    HOME
</div>

<br>

<div *ngIf="currentPublicPlayerData.value">
    <div>
        <span class="bold">global machine peerID: {{ machineData.value?.peerID || '(none)' }}</span>
    </div>
</div>

<br>

<div>
    <div>
        Public Players:
    </div>
    
    <div *ngFor="let publicPlayer of publicPlayersData.value; let i = index">
        <div>{{ i + 1 }} UID: {{ publicPlayer.uid }} - Username: {{ publicPlayer.username }} - {{ publicPlayer.createdAtDate | date:'short' }}</div>
    </div>

    <br>
</div>

<br>

<div *ngIf="myPrivatePlayerData.value">
    <div>
        My private player data
    </div>

    <br>

    <div>
        <span class="bold">peerID: {{ myPrivatePlayerData.value.peerID }}</span>
    </div>

    <!-- <br>

    <div>
        UID: {{ myPrivatePlayerData.value.uid }}
    </div>
    <div>
        Username: {{ myPrivatePlayerData.value.username }}
    </div>
    <div>
        Active: {{ !!myPrivatePlayerData.value.active }}
    </div>

    <div>
        Created At: {{ myPrivatePlayerData.value.createdAtDate | date:'short' }}
    </div>
    <div>
        Updated At: {{ myPrivatePlayerData.value.updatedAtDate | date:'short' }}
    </div>

    
    <div>
        phoneNumber: {{ myPrivatePlayerData.value.phoneNumber }}
    </div>
    <div>
        emailAddress: {{ myPrivatePlayerData.value.emailAddress }}
    </div>
    <div>
        shippingAddress: {{ myPrivatePlayerData.value.shippingAddress }}
    </div> -->
</div>

<br>

<form [formGroup]="setPlayerFormGroup" (ngSubmit)="setUser()">
    <label controlName="username">Username</label>
    <input formControlName="username"><br>

    <label controlName="emailAddress">Email Address</label>
    <input formControlName="emailAddress"><br>

    <label controlName="shippingAddress">Shipping Address</label>
    <input formControlName="shippingAddress"><br>
    
    <label controlName="phoneNumber">Phone Number</label>
    <input formControlName="phoneNumber"><br>

    <button type="submit">Set Player</button>
</form>

<br>

<div>
    <div>
        Current Player: 
    </div>

    <div *ngIf="!currentPublicPlayerData.value">
        (none)
    </div>

    <div>
        <div>
            UID: {{ currentPublicPlayerData.value?.uid || '...' }} {{ currentPublicPlayerData.value && myPrivatePlayerData.value && myPrivatePlayerData.value?.uid === currentPublicPlayerData.value?.uid ? 'you are the current user' : '' }}
        </div>
        <div>
            Your UID: {{ myPrivatePlayerData.value?.uid || '...' }} {{ currentPublicPlayerData.value && myPrivatePlayerData.value && myPrivatePlayerData.value?.uid === currentPublicPlayerData.value?.uid ? 'you are the current user' : '' }}
        </div>

        <br>
        
        <div class="video-container" [ngClass]="{'hide': !peer?.requestedCallConnection}">
            <div>
                Machine MediaStream:
            </div>

            <video #machineVideo playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
            </video>
        </div>


        <div *ngIf="currentPublicPlayerData.value && myPrivatePlayerData.value && myPrivatePlayerData.value?.uid === currentPublicPlayerData.value?.uid && !peer?.sentDataConnection">
            <br>

            <button (click)="connect()">Connect to machine</button>
        </div>
    </div>
</div>

<br>

<div *ngIf="peer?.sentDataConnection?.open === false">
    sendDataConnection is pending...
</div>

<div *ngIf="peer?.sentDataConnection?.open">
    <div>
        <button (click)="peer?.disconnectConnections()">Disconnect connections</button>
    </div>
    
    <br>

    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input formControlName="send"><button type="submit">Send</button>
    </form>
</div>

<br>

<div *ngFor="let data of datas">
    {{ data.peerID }} {{ data.timestamp | date:'short' }}: {{ data.value }}
</div>

<div *ngIf="!videoService.handledRequiredInteraction" class="click-overlay" (click)="handleRequiredInteraction()">
    Click here to start
</div>

<div>
    <div>
        Errors:
    </div>

    <br>

    <div *ngIf="!errors.length"> None <br></div>

    <div *ngFor="let error of errors">
        <div>
            {{ error.errorType || "Unknown type" }}
        </div>

        <div>
            {{ error.errorMessage || "Unknown message" }}
        </div>

        <br>
    </div>

    <button (click)="clearErrors()">Clear errors</button>
</div>
