.click-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: rgba(black, .7);
    color: white;

    font-size: 32px;

    cursor: pointer;
}

video {
    background: grey;
    width: 100%;
    height: auto;
    min-height: 1px;
}

.video-container {
    video {
        max-width: 500px;
        min-width: 1px;
    }
}

// .hide-video {
//     display: none;
// }

.blocks {
    display: flex;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    margin: 1px;

    box-sizing: border-box;
}

.block-visible {
    border: 1px solid black;
}
.block-visible:hover {
    background: gray;
}
.block-visible:focus {
    background: darkgray;
}
.block-visible:active {
    background: lightgray;
}