<div *ngIf="myPrivatePlayerData.value">
    <div>
        My private player data
    </div>

    <div>
        UID: {{ myPrivatePlayerData.value.uid }}
    </div>
    <div>
        Username: {{ myPrivatePlayerData.value.username }}
    </div>
    <div>
        Active: {{ !!myPrivatePlayerData.value.active }}
    </div>

    <div>
        Created At: {{ myPrivatePlayerData.value.createdAtDate | date:'short' }}
    </div>
    <div>
        Updated At: {{ myPrivatePlayerData.value.updatedAtDate | date:'short' }}
    </div>

    <div>
        peerID: {{ myPrivatePlayerData.value.peerID }}
    </div>
    <div>
        phoneNumber: {{ myPrivatePlayerData.value.phoneNumber }}
    </div>
    <div>
        emailAddress: {{ myPrivatePlayerData.value.emailAddress }}
    </div>
    <div>
        shippingAddress: {{ myPrivatePlayerData.value.shippingAddress }}
    </div>
</div>

<br>

<form [formGroup]="setPlayerFormGroup" (ngSubmit)="setUser()">
    <label controlName="username">Username</label>
    <input formControlName="username"><br>

    <label controlName="emailAddress">Email Address</label>
    <input formControlName="emailAddress"><br>

    <label controlName="shippingAddress">Shipping Address</label>
    <input formControlName="shippingAddress"><br>
    
    <label controlName="phoneNumber">Phone Number</label>
    <input formControlName="phoneNumber"><br>

    <button type="submit">Set Player</button>
</form>

<br>

<div>
    <div>
        Public Players:
    </div>
    
    <div *ngFor="let publicPlayer of publicPlayersData.value">
        <div>UID: {{ publicPlayer.uid }} - Username: {{ publicPlayer.username }} - {{ publicPlayer.createdAtDate | date:'short' }}</div>
    </div>

    <br>
</div>

<br>

<div>
    <a (click)="getPeer('moocow-a')">PEER A (moocow-a)</a> | <a (click)="getPeer('moocow-b')">PEER B (moocow-b)</a>
</div>

<div>
    Peer: {{ peerjsService.peer?.id || 'none' }}
</div>

<br>

<div *ngIf="otherID && !peerjsService.conn">
    <a (click)="peerjsService.connect()">Connect</a>
</div>
<div *ngIf="otherID && peerjsService.conn">
    <a (click)="peerjsService.disconnect()">Disconnect</a>
</div>

<br>

<div *ngIf="peerjsService.conn">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input formControlName="send"><button type="submit">Send</button>
    </form>

    <br>

    <div>
        <button (click)="call()">Call</button>
    </div>
</div>

<div *ngFor="let data of datas">
    {{ data.peerID }} {{ data.timestamp | date:'short' }}: {{ data.value }}
</div>

<br>

<div>
    You:
</div>
<div class="video-container">
    <video #myVideo playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
    </video>
</div>

<div>
    Them:
</div>
<div class="video-container">
    <video #theirVideo playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
    </video>
</div>

<div *ngIf="!videoService.handledRequiredInteraction" class="click-overlay" (click)="handleRequiredInteraction()">
    Click here to start
</div>
