<div>
    <a (click)="addUser()">Add User</a>
</div>

<div>
    Public Players:
    <div *ngFor="let publicPlayer of publicPlayersData.value">
        <div>UID: {{ publicPlayer.uid }} - Username: {{ publicPlayer.username }} - {{ publicPlayer.createdAtDate | date:'short' }}</div>
    </div>
</div>

<br>

<div>
    <a (click)="getPeer('moocow-a')">PEER A (moocow-a)</a> | <a (click)="getPeer('moocow-b')">PEER B (moocow-b)</a>
</div>

<div>
    Peer: {{ peerjsService.peer?.id || 'none' }}
</div>

<br>

<div *ngIf="otherID && !peerjsService.conn">
    <a (click)="peerjsService.connect()">Connect</a>
</div>
<div *ngIf="otherID && peerjsService.conn">
    <a (click)="peerjsService.disconnect()">Disconnect</a>
</div>

<br>

<div *ngIf="peerjsService.conn">
    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input formControlName="send"><button type="submit">Send</button>
    </form>

    <br>

    <div>
        <button (click)="call()">Call</button>
    </div>
</div>

<div *ngFor="let data of datas">
    {{ data.peerID }} {{ data.timestamp | date:'short' }}: {{ data.value }}
</div>

<br>

<div>
    You:
</div>
<div class="video-container">
    <video #myVideo playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
    </video>
</div>

<div>
    Them:
</div>
<div class="video-container">
    <video #theirVideo playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
    </video>
</div>

<div *ngIf="!videoService.handledRequiredInteraction" class="click-overlay" (click)="handleRequiredInteraction()">
    Click here to start
</div>
