.blocks {
    display: flex;
}

.block {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 60px;
    height: 60px;

    margin: 1px;

    box-sizing: border-box;
}

.block-visible {
    border: 1px solid black;
    cursor: pointer;

    * {
        pointer-events: none;
    }
}
.block-visible:hover {
    background: gray;
}
.block-visible:focus {
    background: darkgray;
}
.block-visible:active {
    background: lightgray;
}
