/* You can add global styles to this file, and also import other style files */

:root {
    --app-height-100: 100vh;
    --app-height-50: 50vh;
}

html, body {
    margin: 0;
    padding: 0;

    
}

body {
    // Removed height: 100% since this causes scroll event on window not to fire for safari
    // source: https://github.com/WickyNilliams/headroom.js/issues/127
    // height: 100%;
    
    min-height: 100vh;
    min-height: var(--app-height-100);

    overflow-x: hidden;
    overflow-y: visible;

    width: 100%;

    font-family: Roboto, "Helvetica Neue", sans-serif;
}

a {
    color: teal;
}

a:hover, a:focus, a:active {
    text-decoration: underline;
}

.click-overlay {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;

    background: rgba(black, .2);
    color: white;

    font-size: 32px;

    cursor: pointer;

    pointer-events: none;
}

video {
    background: grey;
    width: 100%;
    height: auto;
    min-height: 1px;
}

.video-container {
    video {
        max-width: 500px;
        min-width: 1px;
    }
}

.hide {
    display: none;
}

// .hide-video {
//     display: none;
// }

.bold {
    font-weight: 700;
}
