<div>
    MACHINE
</div>

<br>

<div>
    <div>
        Machine: 
    </div>

    <div *ngIf="!machineData.value">
        (none)
    </div>

    <div *ngIf="machineData.value">
        <div>
            global machine peerID: <span class="bold">{{ machineData.value.peerID }}</span> {{ peerID === machineData.value?.peerID ? 'you are the global machine' : '' }}
        </div>

        <br>

        <div>
            My (machine) peerID: <span class="bold">{{ peerID }}</span> {{ peerID === machineData.value?.peerID ? 'you are the global machine' : '' }}<br>
            <button (click)="setMachinePeerID()">Update Machine to my (machine) peerID</button>
        </div>
    </div>
</div>

<br>

<div>
    <div>
        Current Private Player: 
    </div>

    <br>

    <div *ngIf="!currentPrivatePlayersData.value">
        (none)
    </div>

    <div *ngIf="currentPrivatePlayersData.value">
        <div>
            <span class="bold">peerID: {{ currentPrivatePlayersData.value.peerID }}</span>
        </div>
<!-- 
        <br>

        <div>
            UID: {{ currentPrivatePlayersData.value.uid }}
        </div>
        <div>
            Username: {{ currentPrivatePlayersData.value.username }}
        </div>
        <div>
            Active: {{ !!currentPrivatePlayersData.value.active }}
        </div>
    
        <div>
            Created At: {{ currentPrivatePlayersData.value.createdAtDate | date:'short' }}
        </div>
        <div>
            Updated At: {{ currentPrivatePlayersData.value.updatedAtDate | date:'short' }}
        </div>

        <div>
            phoneNumber: {{ currentPrivatePlayersData.value.phoneNumber }}
        </div>
        <div>
            emailAddress: {{ currentPrivatePlayersData.value.emailAddress }}
        </div>
        <div>
            shippingAddress: {{ currentPrivatePlayersData.value.shippingAddress }}
        </div> -->
    </div>
</div>

<br>

<div>
    Your MediaStream
</div>

<div class="video-container">
    <video #video playsinline [ngClass]="{'hide-video': !videoService.handledRequiredInteraction}">
    </video>
</div>

<div *ngIf="currentPrivatePlayersData.value">
    <br>

    <button (click)="connect()">Connect current player</button>
    <button (click)="call()">Call current player</button>
</div>

<br>

<div *ngIf="peer?.sentDataConnection?.open === false">
    sendDataConnection is pending...
</div>

<div *ngIf="peer?.sentDataConnection?.open">
    <div>
        <button (click)="peer?.disconnectConnections()">Disconnect connections</button>
    </div>
    
    <br>

    <form [formGroup]="formGroup" (ngSubmit)="submit()">
        <input formControlName="send"><button type="submit">Send</button>
    </form>
</div>

<br>

<div *ngFor="let data of datas">
    {{ data.peerID }} {{ data.timestamp | date:'short' }}: {{ data.value }}
</div>

<div *ngIf="!videoService.handledRequiredInteraction" class="click-overlay" (click)="handleRequiredInteraction()">
    Click here to start
</div>

<br>

<div>
    <div>
        Errors:
    </div>

    <br>

    <div *ngIf="!errors.length"> None <br></div>

    <div *ngFor="let error of errors">
        <div>
            {{ error.errorType || "Unknown type" }}
        </div>

        <div>
            {{ error.errorMessage || "Unknown message" }}
        </div>

        <br>
    </div>

    <button (click)="clearErrors()">Clear errors</button>
</div>
